@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins:wght@200;400&family=Staatliches&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  background-color: rgba(161, 100, 223);
  flex-wrap: wrap;
  text-align: center;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.btn {
  background-color: rebeccapurple;
  border-radius: 5px;
  padding: 1.5rem 3rem;
  border: 0;
  color: #fff;
  margin: 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.9;
}
